
<div class="container-fluid main-s1"> <h1>About UniBio</h1></div>
<div class="container-fluid" class="about-first">
  <div class="about-first-col1">
    <p>
      UniBio (India) Hatcheries is a leading supplier of good quality SPF Black Tiger shrimp (P. monodon) seed (post larvae) in India. 
      The seeds are produced using SPF broodstock imported from Aqualma (Unima Group), Madagascar, one of the few commercially successful monodon domestication and SPF breeding programs in the world.<br><br>
       
      Our seed stocks are the outcome of three decades of proven maturation & seed production technology and continue to evolve keeping the farming success and the overall superior quality of the finished products in mind.
    </p>
  </div>
  <div class="image">
  </div>
</div>


<div class="about-second">
  <div class="img-container"></div>
  <div>
    <h2>Vision</h2>
    <p>
      To be a trustworthy source for good quality SPF Monodon (Black Tiger Shrimp) seed.
    </p>
   <br>
    <h2>Mission</h2>
    <p>
      To produce and supply genetically superior SPF monodon shrimp seeds that meet the highest 
      quality standards resulting in sustainably profitable farming. 
    </p>
  </div>
</div>