<div class="container-fluid main-s1"><h1> Know your Bore water   </h1></div>
<div class=" main-learn" id="bore" >
    

<h2>Pond water and Ionic Concentrations and their Ratios are critical in Shrimp Farming. </h2>
<hr>
<table>
    <tr>
        <th style="width: 30%;">Ion</th>
        <th style="width: 40%;">Concentration in 35ppt Seawater (mg/L)</th>
        <th style="width: 30%;">Multiplication Factor /ppt</th>
    </tr>
    <tr>
            <td style="padding-left: 2%;">Chloride</td>
            <td style="text-align: center;">19285</td>
            <td style="text-align: center;">551</td>
    </tr>
    <tr>
                <td style="padding-left: 2%;">Sodium</td>
                <td style="text-align: center;">10657</td>
                <td style="text-align: center;">304.5</td>
        </tr>
        <tr>
                    <td style="padding-left: 2%;">Sulfate</td>
                    <td style="text-align: center;">2740</td>
                    <td style="text-align: center;">78.3</td>
            </tr>
            <tr>
                <td style="padding-left: 2%;">Magnesuim</td>
                <td style="text-align: center;">1368</td>
                <td style="text-align: center;">39.1</td>
        </tr>
        <tr>
            <td style="padding-left: 2%;">Calcium</td>
            <td style="text-align: center;">406</td>
            <td style="text-align: center;">11.6</td>
    </tr>
    <tr>
        <td style="padding-left: 2%;">Potassium</td>
        <td style="text-align: center;">374</td>
        <td style="text-align: center;">10.7</td>
</tr>
            
</table>
<br>
<p>Cation balance is critical for Shrimp survival, moulting and growth</p>
<p>Monovalent Cations - Sodium (Na<sup>+</sup>) and Potassium (K<sup>+</sup>)</p>
<p>Divalent Cations - Calcium (Ca<sup>2+</sup>) and Magnesium (Mg<sup>2+</sup>)</p>
<br><br>

<table>
    <tr>
        <th style="width: 30%;">Ion</th>
        <th style="width: 50%;">Molar Concentration</th>
        <th style="width: 20%;">Ratio</th>
    </tr>
    <tr>
            <td style="padding-left: 2%;">Sodium</td>
            <td style="text-align: center;">0.4565</td>
            <td style="text-align: center;">46</td>
    </tr>
    <tr>
                <td style="padding-left: 2%;">Potassium</td>
                <td style="text-align: center;">0.0097</td>
                <td style="text-align: center;">1</td>
        </tr>
        <tr>
                    <td style="padding-left: 2%;">Calcium</td>
                    <td style="text-align: center;">0.0099</td>
                    <td style="text-align: center;">1</td>
            </tr>
            <tr>
                <td style="padding-left: 2%;">Magnesium</td>
                <td style="text-align: center;">0.0534</td>
                <td style="text-align: center;">6</td>
        </tr>
            
</table>
<br>
<p>Ideal Sodium:Potassium ratio is 46:1 and Calcium:Magnesium ratio is 1:6</p>
<br>
</div>
