<!--Monodon-->

<app-slideshow></app-slideshow>

<!--What-->
<div class="container-fluid main-s1"> <h1>What we <strong>deliver ?</strong></h1></div>

<div class="container-fluid main-sus1">
  <div class="card-container">
    <div class="card">
      <div class="image-container">
        <img src="../assets/images/shrimp_titleimg.png" alt="tc_svg"><img>
      </div>
      <div class="card-body">
        <h5 class="card-title">High-Quality Larvae</h5>
        <p class="card-text">We deliver premium monodon shrimp larvae that are cultivated under strict biosecurity protocols.
          Our focus on health and vitality ensures that our larvae are disease-free and resilient, providing a solid foundation
          for successful shrimp farming.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img src="../assets/images/Sus_aqua_titleimg.png" alt="tc_svg"><img>
      </div>
      <div class="card-body">
        <h5 class="card-title">Sustainable Practices</h5>
        <p class="card-text">We are committed to sustainability, using eco-friendly methods in our hatchery to minimize
          environmental impact. From responsible water usage to waste management, we prioritize practices that protect both the
          environment and the long-term viability of shrimp farming.</p>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img src="../assets/images/sup_titleimg.png" alt="tc_svg"><img>
      </div>
      <div class="card-body">
        <h5 class="card-title">Reliable Supply</h5>
        <p class="card-text">We guarantee a reliable and consistent supply of larvae to meet your farming needs. Our hatchery
          operates with precision to ensure timely deliveries, so you can plan and manage your operations with confidence.</p>
      </div>
    </div>
  </div>
</div>


<div class="about-second">
  <div class="img-container">
  </div>
  <div>
    <h2>Characteristics of <i>P.monodon</i></h2>
    <p>
      P. monodon inhabit sandy estuaries and coasts in Eastern Africa, Southeast Asia, and Northern Australia.
       They shift to deeper waters (up to 110 meters) as adults, exhibiting nocturnal behaviour, 
       and feed on detritus, worms, mollusks, crustaceans, and algae.
    </p>
    <p>
      The species tolerates salinity from 0.2 to 70 ppt, with 10 to 25 ppt 
      range as optimum in aquaculture systems resulting in favorable food conversion ratios and resilience. 
    </p>
    <p>For its rapid growth and large size, reaching up to 36 cm in length, making it a preferred species in aquaculture for
    commercial farming. The species is highly valued for its tender meat and high market demand.</p>
  </div>
</div>


<div class="container-fluid main-s2"> <h1>What makes our seed the <b>BEST </b>?</h1></div>






<div class="container-fluid main-sus4">
  <div class="card-container">
    <div class="card">
      <div class="image-container">
        <img  src="../assets/images/DR_titleimg.png" alt="tc_svg"><img>
      </div>
      <div class="card-body">
        <h5 class="card-title">Disease Resistance</h5>
        <p class="card-text">Unibio’s SPF monodon seeds are recognized by farmers as refractory
          to some of the most prevalent diseases causing pathogens like EHP, 
          which is associated with white fecal syndrome. 
          It is also resistant to infestations by epicommensals like Zoothamnium (fungus).
          These characteristics result in avoidance of unwanted chemical treatments during culture.</p>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img  src="../assets/images/Survival_titleimg.png" alt="tc_svg"><img>
      </div>
      <div class="card-body">
        <h5 class="card-title">High Survival</h5>
        <p class="card-text">Unibio’s SPF monodon seeds adapt well to reasonable fluctuations
          in water quality parameters resulting in higher survival. 
          Improved pond management practices coupled with optimal water quality enhance 
         its resilience, making it the preferred choice for successful shrimp farming.</p>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img  src="../assets/images/Growth_titleimg.png" alt="tc_svg"><img>
      </div>
      <div class="card-body">
        <h5 class="card-title">Good Growth</h5>
        <p class="card-text">P. monodon as a species has potential to grow bigger and faster, 
          especially at lower stocking densities. Leveraging efficient
           nutrient assimilation from a balanced formulated feed,
           Unibio SPF can achieve good growth rates with better feed conversion.</p>
      </div>
    </div>
    
    
  </div>
</div>








